@mixin customScrollbar(
  $color: $color,
  $bgColor: $backgroundColor,
  $size: $size,
  $radius: $borderRadius
) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
    background-color: $bgColor;
    border-radius: $radius;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px $bgColor;
    -webkit-border-radius: $radius;
    border-radius: $radius;
  }
  &::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 5px $bgColor;
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background: $color;
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background: $color;
  }
}

.swiper {
  width: 640px;
  height: 400px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  padding: 5%;
}

.swiper-slide ul {
  max-height: 380px;
  overflow: auto;
}

.swiper-slide:nth-child(1n) {
  color: #eedeb0;
  background-color: #065279;
}

.swiper-slide:nth-child(2n) {
  color: #065279;
  background-color: #eedeb0;
}

.swiper-slide:nth-child(3n) {
  color: #e29c45;
  background-color: #41555d;
}

.swiper-slide:nth-child(4n) {
  color: #41555d;
  background-color: #e29c45;
}

.swiper-slide:nth-child(5n) {
  color: #467897;
  background-color: #e7cd79;
}

.swiper-slide:nth-child(6n) {
  color: #e7cd79;
  background-color: #467897;
}

.swiper-slide:nth-child(7n) {
  color: #e1dad9;
  background-color: #4d3a59;
}

.swiper-slide:nth-child(8n) {
  color: #4d3a59;
  background-color: #e1dad9;
}

.swiper-slide:nth-child(9n) {
  color: #029d94;
  background-color: #002e9b;
}

.swiper-slide:nth-child(10n) {
  color: #002e9b;
  background-color: #029d94;
}